<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404</title>
</head>
<style>
.error p{
	margin:2.5px 0;
}
.error {
    background: #f5f5f5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
}
</style>
<body>
	<div class="error">
		<p class="error-text">404!</p>
		<p><a href="/">Go to homepage</a></p>
	</div>
</body>
</html>